* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url(./assets/banner.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#globalContainer {
	background-color: rgb(96, 140, 124);
	border-radius: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 0 36px 0;
	box-shadow: 4px 4px rgba(3, 3, 3, 0.5);
}
#globalContainer h1 {
	text-shadow: 1px 2px #333;
	color: #fff;
	text-align: center;
	font-size: 16px;
	margin-bottom: 10px;
}
#mainContainer {
	background-color: #fff;
	padding: 20px 5px 20px 5px;
	max-width: 700px;
	width: 100vw;
}
#signatureAll {
	/* border: 1px solid red; */
	display: flex;
	justify-content: center;
}
.formTable {
	font-family: "Open Sans";
	color: #393939;
	border-collapse: collapse;
}
.formTable td {
	padding: 2px 5px;
}
.caption {
	text-align: right;
	padding-right: 10px;
}
.field {
	width: 280px;
	height: 35px;
}
.field2 {
	width: 135px;
	height: 35px;
}
.check {
	width: 25px;
	height: 25px;
	background: #ff7212;
	border: 2px solid #ff7212;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.preview {
	display: block;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.previewimg {
	display: block;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 1px solid #333;
}
.btndownload {
	background-color: #608c7c;
	color: white;
	padding: 10px 30px;
	border: none;
	border-radius: 6px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.tablebottom {
	background-color: #fff;
	padding: 10px;
	border-bottom: 20px solid #608c7c;

	border-radius: 0 0 20px 20px;
}

#downloadButton {
	background-color: #608c7c;
	color: white;
	padding: 10px 30px 12px;
	border: none;
	border-radius: 6px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#downloadButton img {
	width: 22px;
	margin: 0 3px -4px -10px;
}

/* Nome: lucida sans 11, #FFD796
Setor/Cargo: lucida sans 11, #FFFFFF

e-mail: lucida sans 10, #FFFFFF
telefone: lucida sans 10, #FFFFFF */